$portrait: '../../assets/portrait.png';
$bookInfo: '../../assets/book-info.png';
$bookMaths: '../../assets/book-math.png';
$bookPhysics: '../../assets/book-physic.png';
$chair: '../../assets/chair.png';
$computer: '../../assets/computer.png';
$desktopA: '../../assets/desktop1.png';
$desktopB: '../../assets/desktop2.png';
$firma: '../../assets/firma.png';
$frog: '../../assets/frog.png';
$jack: '../../assets/jack.png';
$lamp: '../../assets/lamp.png';
$lampWheel: '../../assets/lampwheel.png';
$leafA: '../../assets/leaf1.png';
$leafB: '../../assets/leaf2.png';
$leafC: '../../assets/leaf3.png';
$lightBox: '../../assets/lightbox.png';
$littleChair: '../../assets/littleChair.png';
$mousekey: '../../assets/mousekey.png';
$pencil: '../../assets/pencil.png';
$plantBox: '../../assets/plantbox.png';
$portrait: '../../assets/portrait.png';
$sheet: '../../assets/sheet.png';
$tetera: '../../assets/tetera.png';
$wheel: '../../assets/wheel.png';
$window: '../../assets/window.png';

$purple: rgb(71, 0, 71);
$black: #111;
