.Home {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	background-color: #111;
	.bg {
		background: url('../../assets/bg.jpg');
		height: 100vh;
		width: 100vw;
		background-size: cover;
		background-repeat: no-repeat;
		background-position-x: center;
		background-position-y: -60px;
	}
	.btn-light {
		position: absolute;
	}
}
