.Home {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	background-color: #111;
	.text {
		display: flex;
		flex-direction: column;
		text-align: center;
		position: absolute;
		right: 25%;
		top: 15%;
		width: 12vw;
		color: wheat;
	}
	.bg {
		clip-path: inset(46px 274px 56px 318px round 0);
		height: 100vh;
		width: 100vw;
	}
	.floor {
		height: 100vh;
		width: 100vw;
		background-color: purple;
		clip-path: polygon(0% 55%, 99% 32%, 100% 99%, 0% 99%);
	}
	.btn-light {
		position: absolute;
		bottom: 12.5em;
		right: 33.5em;
		border-radius: 50%;
		background-color: #aaa;
		color: #fff;
		padding: 0.5em;
		cursor: pointer;
		&:focus,
		&:active {
			outline: none;
		}
	}
}
