$purple: rgb(71, 0, 71);
$black: #111;
.eye-movetrack {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: rgb(241, 226, 207);
}
.eye {
	width: 6rem;
	overflow: hidden;
	height: 4rem;
	background-color: ghostwhite;
	display: inline-block !important;
	position: absolute;
	z-index: 0;
	top: 15px;
	border-radius: 100%;
	cursor: pointer;
	left: 16px;
	transition: all 0.3s linear;
	&::after {
		content: '';
		width: 5.7rem;
		height: 3.9rem;
		background-color: ghostwhite;
		display: inline-block !important;
		position: absolute;
		z-index: -1;
		border: 4px solid black;
		top: -1px;
		left: -1px;
		border-radius: 100%;
	}
	&.animate {
		// animation: name duration timing-function delay iteration-count direction fill-mode;
		animation: blur-box-shadow 5s forwards, scale 1s forwards;
		&::after {
			border: none;
		}
	}
	.iris {
		width: 2rem;
		height: 2rem;
		background-color: black;
		border-radius: 50%;
		position: absolute;
		&::after {
			content: '';
			width: 0.7rem;
			height: 0.7rem;
			background-color: white;
			border-radius: 50%;
			position: absolute;
			z-index: 1;
			top: 18%;
			left: 58%;
		}
		&:hover {
			transition: opacity 0.3s linear;
			opacity: 0;
		}
	}
}
.eye-shadow {
	width: 8rem;
	height: 5.5rem;
	border: 5px solid rgb(231, 194, 126);
	border-radius: 50% 42%;
	z-index: 0;
	top: -12px;
	left: -20px;
	clip-path: ellipse(45% 48% at 50% 50%);
	transform: rotate(-6deg);
}
.wonder {
	width: 100%;
	height: 100%;
	transform: scale(1.1);
	z-index: 2;
	top: 0px;
	left: 0px;
	bottom: 65px;
	background-color: $black;
	position: absolute;
	img {
		width: 100%;
		transform: translateY(-45px);
	}
}

.eye-container {
	position: absolute;
	transition: transform 0.5s ease;
	display: inline-block;
	width: min-content;
	transition: transform 0.3s linear;

	&:hover {
		transition: transform 0.5s ease;
		transform: scale(1.2);
	}
}

@keyframes scale {
	to {
		transform: scale(20);
	}
}

@keyframes rotate {
	to {
		transform: rotate(360deg);
	}
}

@keyframes blur-box-shadow {
	to {
		box-shadow: 0px 0px 10px black;
	}
}
