.artPortrait {
	display: inline-block;
	top: 6%;
	left: 29%;
	background-size: contain;
	position: absolute;
	background-repeat: no-repeat;
	background-image: url('../../assets/artPortrait@72x-8.png');
	width: 11vw;
	height: 36vh;
	transition: all 0.3s cubic-bezier(0.1, 0.1, 0.1, 0.1);
	&:hover {
		transition: all 0.3s cubic-bezier(0.1, 0.1, 0.1, 0.1);
		top: 5.5%;
		left: 29.5%;
		cursor: pointer;
	}
}
